body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Black background for space */
    font-family: 'Courier New', Courier, monospace; /* Retro font */
}

.game-container {
    border: 2px solid #0f0; /* Green border like old monitors */
    width: 700px;
    height: 525px;
}

#mobile-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

@media (hover: hover) and (pointer: fine) {
    #mobile-controls { display: none; }
}

/* Responsive adjustments */
@media (max-width: 700px) {
    .game-container {
        width: 100%;
        height: auto;
        border: none;
    }
}